
<header class="bg-red-500 text-white p-4 shadow-md">
  <nav class="container mx-auto flex justify-between items-center" role="navigation" aria-label="main navigation">
    <ul class="flex space-x-4 items-center">
      <li>
        <a
          href="/"
          class="<%= currentPage === 'index' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          aria-current="<%= currentPage === 'index' ? 'page' : '' %>"
        >
          airbnb
        </a>
      </li>

      <% if (isLoggedIn) { %>
        <% if(user&& user.userType==='guest'){ %>
        <li>
          <a
            href="/homes"
            class="<%= currentPage === 'Home' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
            aria-current="<%= currentPage === 'Home' ? 'page' : '' %>"
          >
            Homes List
          </a>
        </li>

        <li>
          <a
            href="/favourites"
            class="<%= currentPage === 'favourites' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
            aria-current="<%= currentPage === 'favourites' ? 'page' : '' %>"
          >
            Favourites
          </a>
        </li>

        <li>
          <a
            href="/bookings"
            class="<%= currentPage === 'bookings' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
            aria-current="<%= currentPage === 'bookings' ? 'page' : '' %>"
          >
            Bookings
          </a>
        </li>
        <% } else{%>

        <li>
          <a
            href="/host/host-home-list"
            class="<%= currentPage === 'host-homes' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
            aria-current="<%= currentPage === 'host-homes' ? 'page' : '' %>"
          >
            Host Homes
          </a>
        </li>

        <li>
          <a
            href="/host/add-home"
            class="<%= currentPage === 'addHome' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
            aria-current="<%= currentPage === 'addHome' ? 'page' : '' %>"
          >
            Add Home
          </a>
        </li>
      <% } %>
      <% } %>
    </ul>

<ul class="flex space-x-4 items-center">
      <% if (!isLoggedIn) { %>
        <li>
          <a
            href="/signup"
            class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
          >
            Sign Up
          </a>
        </li>

        <li>
          <a
            href="/login"
            class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
          >
            Login
          </a>
        </li>
      <% } else { %>
        <li>
          <form action="/logout" method="POST">
            <button
              type="submit"
              class="hover:bg-red-400 py-2 px-4 rounded transition duration-300"
            >
              Logout
            </button>
          </form>
        </li>
      <% } %>
    </ul>
  </nav>
</header>
